body {
    margin: 0;
    font-family: sans-serif;
}

.inner {
    position: absolute;
}

.sidebar {
    width: 225px; /* Ancho fijo de la barra lateral */
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed; /* Fijar la barra lateral */
    left: 40px; /* Espacio desde el borde izquierdo de la página */
    top: 40px; /* Espacio desde la parte superior de la página */
    bottom: 150px; /* Espacio desde la parte inferior de la página */
    height: auto; /* Permitir que la altura se ajuste automáticamente */
}

.menu-item {
    width: 100%;
    display: flex;
    flex-direction: column; /* Cambiar la dirección a columna */
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-item img {
    margin-bottom: 5px; /* Espacio entre el ícono y el texto */
    width: 45px; /* Tamaño del icono */
    height: 45px; /* Tamaño del icono */
    object-fit: contain; /* Mantener la proporción de las imágenes */
}

.menu-item span {
    font-size: 16px;
    color: #000000;
    text-align: center; /* Centrar el texto */
}

.menu-item:hover {
    background-color: #F0F0F0;
}

.table {
    margin-top: 20px;
    width: 100%; /* Ancho completo de la tabla */
    overflow-x: auto; /* Permitir desplazamiento horizontal */
}

.table th,
.table td {
    padding: 10px 15px;
}

.barra-superior {
    background-color: #F0F0F0;
    padding: 10px 20px;
    text-align: right;
}

.btn-rojo {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.content {
    flex: 1;
    padding: 20px;
    margin-left: 265px; /* Ajusta este margen para alinear el contenido */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar el contenido horizontalmente */
}

.container {
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 15px 8px rgba(255, 7, 7, 0.958);
    max-width: 1200px; /* Ancho máximo para centrar */
}

.header-container {
    margin-bottom: 20px; /* Añadir margen inferior para separar los contenedores */
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
    .d-flex {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        left: 0; /* Restablecer la posición en pantallas pequeñas */
        top: 0;
        bottom: 0;
    }

    .content {
        margin-left: 0;
    }
}
