/* Estilos generales del cuerpo y contenedores */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden; /* Evita el desplazamiento horizontal cuando se hace zoom */
  }
  
  .container-fluid {
    flex: 1;
  }
  
  .table-bordered thead th {
    background-color: black;
    color: white;
  }
  
  .container-left {
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    padding: 10px; /* Reduce el padding para hacer el contenido más compacto */
    overflow-x: auto; /* Permitir desplazamiento horizontal si es necesario */
    max-width: 800px; /* Ajusta el tamaño del contenedor izquierdo */
    margin-right: 20px; /* Aumenta el margen derecho para mostrar la tabla completa */
  }
  
  /* Estilo personalizado para el botón "Historial ventas" */
  .btn-primary {
    background-color: #FFFFFF; /* Fondo blanco */
    color: #000000; /* Texto negro */
    font-weight: bold; /* Texto en negrita */
    border-color: #007BFF; /* Color del borde (opcional) */
  }
  
  .btn-primary:hover {
    background-color: #F0F0F0; /* Color de fondo al pasar el mouse */
    color: #000000; /* Texto negro */
    border-color: #007BFF; /* Color del borde (opcional) */
  }
  
  /* Ajustes para hacer el contenido más compacto hacia la izquierda */
  .container .row {
    margin-left: 0;
    margin-right: 0;
  }
  
  .container .col-12 {
    padding-left: 0;
    padding-right: 0;
  }
  
  /* Media Queries para responsividad */
  @media (max-width: 1024px) {
    .content {
      margin-left: 20px; /* Ajusta el margen izquierdo para evitar superposición en pantallas medianas */
      margin-right: 20px; /* Ajusta el margen derecho */
    }
  }
  
  @media (max-width: 768px) {
    .d-flex {
      flex-direction: column;
    }
  
    .content {
      margin-left: 0;
    }
  }
  
  @media (max-width: 480px) {
    /* Ajustes adicionales para dispositivos más pequeños si es necesario */
  }
  